.tableau{
  container-type: inline-size;
  width: 100cqw;

  position: fixed;
  bottom: 0;

  /* position: absolute;
  bottom: 0; */
}

.tableau__mini-cards--row{
  display: flex ;
  align-items:flex-end;
}

.tableau__mini-cards--section{
  width:20cqw;
  display: flex ;
  flex-wrap: wrap-reverse;
  align-content: flex-end;
}

.tableau__mini-card{
  width: 3.5cqw;
  height: 2cqw;
  border: 0.25cqw solid black;
  border-radius: 1cqw 1cqw 0 0;
  margin-bottom: -1cqw;
}

.tableau__row{
  width: 100cqw;
  display: flex ;
  height: 6cqw;
  container-type: size;
}

.tableau__section{
  display: flex ;
  justify-content: center;
  align-items:center;
  width: 100%;
  font-size: 5cqw ;
  height: 100%;
}

.tableau__txt-box{
  display: flex ;
  align-items:center;
  width: 98cqw;
  height: 3cqw;
  font-size: 2.75cqw;
  padding-left: 2cqw;
}

@media(min-aspect-ratio: 0.9/1){
  .tableau__mini-card{

  }
  .tableau__row{
    height:3cqw;
  }
  .tableau__section{
    font-size: 2.5cqw ;
  }
  .tableau__txt-box{
    height: 2cqw;
    font-size: 1.8cqw;
  }
}
