.color__a{
  background-color: rgb(166, 166, 166);
  color: yellow;
}
.color__b{
  background-color: rgb(186, 115, 0);
  color: yellow;
}
.color__c{
  background-color: rgb(39, 211, 0);
  color: yellow;
}
.color__d{
  background-color: rgb(17, 0, 255);
  color: yellow;
}
.color__e{
  background-color: rgb(198, 3, 188);
  color: yellow;
}
.color__x{
  background-color: rgb(14, 0, 106);
  color: yellow;
}

.color__y{
  background-color: rgb(80, 0, 0);
  color: yellow;
}

.color__z{
  background-color: rgb(255, 0, 0);
  color: yellow;
}
.color__points{
  background-color: yellow;
  color: black;
}
